# Database connection string (PostgreSQL or Neon)
DATABASE_URL="postgresql://username:password@ep-example.neon.tech/neondb?sslmode=require"

# Server Port
PORT=5000

# JWT Secret for Authentication
JWT_SECRET="your-super-secret-key"